<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <div class="table-wrapper" fxFlex="48%" fxFlex.xs="100%">
    <h3>List years with multiple winners</h3>
    <div class="table-content">
      <mat-table [dataSource]="yearsWithMultipleWinners" class="mat-elevation-z8">
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let yearData"> {{ yearData.year }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="winnerCount">
          <mat-header-cell *matHeaderCellDef> Win Count </mat-header-cell>
          <mat-cell *matCellDef="let yearData"> {{ yearData.winnerCount }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['year', 'winnerCount']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['year', 'winnerCount'];"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="table-wrapper" fxFlex="48%" fxFlex.xs="100%">
    <h3>Top 3 studios with winners</h3>
    <div class="table-content">
      <mat-table [dataSource]="displayedStudios" class="mat-elevation-z8">
        <ng-container matColumnDef="studioName">
          <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
          <mat-cell *matCellDef="let studioData"> {{ studioData.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="winCount">
          <mat-header-cell *matHeaderCellDef> Win Count </mat-header-cell>
          <mat-cell *matCellDef="let studioData"> {{ studioData.winCount }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['studioName', 'winCount']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['studioName', 'winCount'];"></mat-row>
      </mat-table>
      <button mat-button (click)="toggleShowAll()">
        {{ showAllStudios ? 'Show less' : 'Show all' }}
      </button>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <div class="table-wrapper" fxFlex="48%" fxFlex.xs="100%">
    <h3>Producers whith longest and shortest interval between wins</h3>

    <h4>Maximum</h4>
    <div class="table-content">
      <mat-table [dataSource]="producersWithWinnerIntervals.max" class="mat-elevation-z8">
        <ng-container matColumnDef="producer">
          <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.producer}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="previousWin">
          <mat-header-cell *matHeaderCellDef> Previous Win </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.previousWin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="followingWin">
          <mat-header-cell *matHeaderCellDef> Following Win </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.followingWin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="interval">
          <mat-header-cell *matHeaderCellDef> Interval </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.interval}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['producer', 'previousWin', 'followingWin', 'interval']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['producer', 'previousWin', 'followingWin', 'interval'];"></mat-row>
      </mat-table>
    </div>

    <h4>Minumum</h4>
    <div class="table-content">
      <mat-table [dataSource]="producersWithWinnerIntervals.min" class="mat-elevation-z8">
        <ng-container matColumnDef="producer">
          <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.producer}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="previousWin">
          <mat-header-cell *matHeaderCellDef> Previous Win </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.previousWin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="followingWin">
          <mat-header-cell *matHeaderCellDef> Following Win </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.followingWin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="interval">
          <mat-header-cell *matHeaderCellDef> Interval </mat-header-cell>
          <mat-cell *matCellDef="let producer"> {{producer.interval}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['producer', 'previousWin', 'followingWin', 'interval']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['producer', 'previousWin', 'followingWin', 'interval'];"></mat-row>
      </mat-table>
    </div>

  </div>

  <div class="table-wrapper" fxFlex="48%" fxFlex.xs="100%">
    <h3>List movie winners by year</h3>
    <div class="table-content">
      <input type="text" placeholder="Search by year" [(ngModel)]="searchYear" (input)="loadMoviesWithWinners()"
        class="year-input" />
      <mat-table [dataSource]="moviesWithWinners" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let movie"> {{movie.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let movie"> {{movie.year}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="producer_name">
          <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
          <mat-cell *matCellDef="let movie"> {{movie.producer_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="studio_name">
          <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
          <mat-cell *matCellDef="let movie"> {{movie.studio_name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['title', 'year', 'producer_name', 'studio_name']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'year', 'producer_name', 'studio_name'];"></mat-row>
      </mat-table>
    </div>

  </div>
</div>